$bg: rgb(12, 17, 22);

.container {
  // background-color: $bg;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  // border: 1px solid red;
  .carousel {
    width: 90%;
    height: 380px;
    // border: 1px solid red;
  }
}
